@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url(./assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
