body {
    background-color: rgb(40, 8, 70);
}

body::-webkit-scrollbar {
    display: none;
}

.header-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.items {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 25%;
    width: 50vw;
    height: 50px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.items a{
    font-weight: bolder;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.items:hover {
    color: white;
    background: blue;
    cursor: pointer;
}

.items:active {
    color: white;
    background: blue;
    cursor: pointer;
}

footer {
    background-color: blueviolet;
}

footer a {
    color: white;
    text-decoration: none;
}