.card-data {
    transition: 0.5s;
}

.card-container:hover > .card-data {
    transform: translateY(-3.5rem);
}
.card-container:hover > img {
    opacity: 0.9;
    transform: scale(1.1);
}

.card-container > img {
    transition: 0.5s;
}

.git-link {
    transition: 0.2s;
}

.card-container {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media (max-width: 768px) {
    .card-container:hover > .card-data {
        transform: translateY(-2.8rem);
    }
}
