@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
}

.container{
    width: 100%;
    text-align: center;
}
input{
    display: none;
}
h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}
p{
    text-align: center;
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 30px;
}
h1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}

.top-content{
    background-color: rgb(243, 243, 243);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgray;
}

label:hover{
    height: 100%;
    background-color: rgb(227, 227, 227);
    line-height: 60px;
    padding: 0 50px;
    color: black;
}

label:active{
    height: 100%;
    background-color: gray;
    line-height: 60px;
    padding: 0 50px;
    color: black;
}

label{
    display: inline-block;
    height: 100%;
    margin: 0 50px;
    line-height: 60px;
    cursor: pointer;
    font-size: 18px;
    color: gray;
    transition: color .5s;
}
.project-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.pic{
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
}

.pic img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: .5s;
}

.pic::before{
    content: "Click To View Code";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(58, 57, 57);
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}

.pic::after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 100%;
    background-color: rgba(0,0,0,.2);
    transition: .3s;
}
.pic:hover::after{
    height: 100%;
}
.pic:hover::before{
    margin-top: 0;
    opacity: 1;
}

#all:checked ~ .container .project-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .0s;
}
#arduino:checked ~ .container .project-gallery .Arduino{
    opacity: 1;
    transform: scale(1);
    position: relative;
}
#esp:checked ~ .container .project-gallery .ESP{
    opacity: 1;
    transform: scale(1);
    position: relative;
}
